@using NFTSolution.DAL.Models
@model Market
<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Basic Table</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Count</th>
                            <th scope="col">Category</th>
                            <th scope="col">ImgUrl</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                            <tr>
                                <th scope="row">@Model.Id</th>
                                <td>@Model.Name</td>
                                <td>@Model.Count</td>
                                <td>@Model.Category</td>
                                <td><img src="~/assets/Uploadedimages/@Model.ImgUrl" /></td>

                              
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Table End -->
